:root {
    --primary-color: #00d4a9;
    --secondary-color: #ffffff;
    --bg-color: #141414;
    --text-color: #ffffff;
    --highlight-color: #26f4ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: #141414;
    margin-left: 20px;
    margin-right: 20px;

}

.logo-contaner {
    text-align: center;
    margin-left: 45px;
}

.small-text {
    font-size: 10px;
    letter-spacing: 1px;
    color: var(--text-color);
    margin-top: 3px;
}

.navbar .logo {
    font-size: 3rem;
    color: var(--primary-color);

}

.navbar .nav-links {
    list-style: none;
    display: flex;
    margin-right: 45px;
}

.navbar .nav-links li {
    margin-left: 3rem;
}

i.fa-search {
    font-size: 20px;
    color: var(--primary-color);
    ;
    margin-left: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 6rem 7rem;
    background: linear-gradient(to left, rgba(56, 82, 59, 4.7), rgba(20, 24, 20, -4.7)), url(imges/portrait.png ) no-repeat right center;
    position: relative;
    color: var(--primary-color);
}


.hero-content {
    max-width: 40%;
}

.hero-content h1 {
    font-size: 3rem;
    line-height: 1.2;
}

.hero-content .highlight {
    color: var(--primary-color);
}

.hero-content p {
    margin: 1.5rem 0;
    font-size: 1.1rem;
    color: var(--text-color);
}

p.subtitle {
    color: var(--primary-color);
    font-size: 14px;
    letter-spacing: 3px;
}



.description {
    font-size: 14px;
    color: #ccc;
    line-height: 1.6;
    margin: 5px 0;
    padding-bottom: 5px;
}

.hr1 {
    border: none;
    height: 1px;
    background-color: #00d4a9;
    width: 60px;
    margin: 5px;

}


.description1 {
    font-size: 14px;
    color: #ccc;
    line-height: 1.6;
    margin: 20px 0;
    padding-bottom: 1px;
    border-bottom: 1px solid;
    display: inline-block;
}

.about-section {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}

.circle:hover {
    transform: scale(1.1);
}

.circle i {
    color: #fff;
    font-size: 20px;
}

.about-text {
    font-size: 16px;
    font-weight: bold;
    margin: 0;

}

p.studio-text {

    font-size: 12px;
    color: var(--primary-color);
    margin: 0;
    padding-top: 5px;
}

.a1 {
    display: flex;
    flex-direction: column;
}

.link {
    color: var(--highlight-color);
    text-decoration: none;
    font-weight: bold;
}

.hero-image {
    max-width: 45%;
}

.hero-image img {
    width: 100%;
    border-radius: 5px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .navbar .nav-links {
        display: none;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content,
    .hero-image {
        max-width: 100%;
    }

    .hero-content h1 {
        font-size: 2rem;
    }
}